.add_button {
  background-color: green;
  color: white;
  font-weight: 1000;
  align-items: center;
  text-align: center;
  border-radius: 100%;
  vertical-align: middle;
}

.minus_button {
  background-color: red;
  color: white;
  font-weight: 1000;
  align-items: center;
  text-align: center;
  border-radius: 100%;
  vertical-align: middle;
}